:root {
  --primary-color: rgb(36, 46, 76);
  --primary-color: #f38ba0;
  --font-color-dark: #333;
  --font-color-light: #777;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "sans-serif";
  height: 100rem;
  background-color: rgb(243, 243, 243);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
